#sectionTwo {
  border: solid;
  width: 100%;
  padding-bottom: 100px;
}

.sectionTwo {
  padding-top: 70px;
  width: 80%;
  margin: auto;
}

.vehicleTT {
  width: 100%;
}

.vehicleTT > img {
  width: 90px;
}

.vehicleTT > h1 {
  margin-top: -7px;
  font-size: 2.7em;
  font-weight: 400;
  text-transform: uppercase;
}

.vehicleTT > h4 {
  margin-top: -35px;
  font-size: 1.4em;
  font-weight: 400;
  text-transform: uppercase;
}

.vehicleCont {
  display: grid;
  column-gap: 80px;
  row-gap: 30px;
  grid-template-columns: auto auto auto;
  width: 80%;
  margin: auto;
}

.card > img,
.card2 > img,
.card3 > img,
.card4 > img,
.card5 > img,
.card6 > img {
  width: 110px;
  transition:transform 800ms;
}

.card > img:hover,
.card2 > img:hover,
.card3 > img:hover,
.card4 > img:hover,
.card5 > img:hover,
.card6 > img:hover {
  transform: rotate(10deg);
}


.card {
  border: solid #00000015 2px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card > span {
  margin: auto;
  font-size: 1.1em;
  font-weight: 400;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  #sectionTwo {
    width: 100%;
    padding-bottom: 20px;
  }

  .sectionTwo {
    width: 100%;
    margin: unset;
  }

  .vehicleTT {
    width: 100%;
  }

  .vehicleTT > img {
    width: 80px;
  }

  .vehicleTT > h1 {
    margin-top: -13px;
    font-size: 1.8em;
    font-weight: 400;
    text-transform: uppercase;
  }

  .vehicleTT > h4 {
    margin-top: -30px;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
  }

  .vehicleCont {
    display: grid;
    column-gap: 30px;
    row-gap: 10px;
    grid-template-columns: auto auto;
    width: 100%;
  }


  .card {
    padding: 15px;
  }

  .card > span {
    margin: auto;
    font-size: 1.1em;
    font-weight: 400;
  }
}
