#adverts {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: 120px;
}

.adverts {
  width: 80%;
  display: flex;
  align-items: center;
}

.headA > span {
  font-size: 1.7em;
  color: #d2a51e;
  text-transform: uppercase;
}
.headA > h1 {
  font-size: 3.5em;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.advertDetails > p {
  font-size: 1.1em;
  opacity: 0.6;
  padding-block: 25px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advert01 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.advert01 > span {
  background-color: #d2a51edf;
  color: #fff;
  width: 50px;
  font-size: 1.7em;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.advertDetails > button {
  width: 250px;
  font-size: 0.7em;
  font-weight: 500;
  padding: 20px 20px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-block: 20px;
  background-color: #000;
  color: #fff;
  border: none;
}

.advertDetails > button:hover {
  background-color: #fff;
  color: #000;
  border: solid 1px;
}

.advert01 > p {
  font-size: 1.1em;
}

.advertImg > img {
  width: 1300px;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    #adverts {
        justify-content: center;
        padding-top: 90px ;
      }
      
      .adverts {
        width: 100%;
        padding: 0 10px;
        flex-direction: column;
      }
      
      .headA > span {
        font-size: 1.2em;
      }
      .headA > h1 {
        font-size: 2em;
        letter-spacing: 8px;
      }
      
      .advertDetails > p {
        font-size: .9em;
        padding-block: 20px;
      }
   
      .advert01 > span {
        width: 40px;
        font-size: 1.4em;
        height: 40px;
      }
      
      .advertDetails > button {
        width: 200px;
        font-size: 0.6em;
        font-weight: 800;
        padding: 15px 0px;
        margin-block: 20px;
        margin-left: 90px;
      }
      
      .advert01 > p {
        font-size: 1.1em;
      }
      
      .advertImg > img {
        width: 400px;
      }
}
